/***********************************/
/*            General              */
/***********************************/

body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

main {
    margin-top: 125px;
}


/***********************************/
/*              Main               */
/***********************************/

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 85%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Mobile, Tablet and Laptop */
@media screen and (max-width: 1200px)
{

    .main {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
}


/***********************************/
/*             Header              */
/***********************************/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: solid 1px #888;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 15px 0 0 0;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.header-btn {
    width: 90%;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320))); 
    border-radius: 80px;
    background-image: linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
}

.header-btn i {
    color: white;
    margin-right: 10px;
}

.header-btn:hover {
    background-image: linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title h1{
    font-size: calc(35px + (35 - 30) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 600;
    margin: 0;
}

.header-title i{
    margin-left: 15px;
    color: #43cea2;
    font-size: calc(30px + (30 - 25) * ((100vw - 320px) / (1600 - 320)));
}

.header-price {
    display: flex;
    align-items: center;
}

.header-price h2 {
    margin: 0;
    font-size: calc(24px + (24 - 22) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 600;
    margin-right: 15px;
}

.header-disclaimer {

    display: flex;
    align-items: center;
    font-size: calc(10px + (10 - 8) * ((100vw - 320px) / (1600 - 320)));
    color: #888;
}

.header-disclaimer i{
    margin-right: 10px;
}

/* Mobile, Tablet and Laptop */
@media screen and (max-width: 1200px)
{
    .header-title h1{
        font-size: calc(30px + (30 - 25) * ((100vw - 320px) / (1600 - 320)));
    }

    .header-title i{
        margin-left: 15px;
        color: #43cea2;
        font-size: calc(20px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
    }

    .header-size h2 {
        font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
    }
    
    .header-size p {
        font-size: calc(25px + (25 - 22) * ((100vw - 320px) / (1600 - 320)));
        margin: 0 10px;
        color: #888;
    }
    
    .header-price h2 {
        font-size: calc(20px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
    }

    .header-btn {
        width: 65%;
        padding: 15px 0;
        font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (1600 - 320))); 
    }
}

/* Mobile and Tablet */
@media screen and (max-width: 992px)
{
    .header-title {
        justify-content: center;
        margin-bottom: 20px;
    }

    .header-title h1 {
        text-align: center;
    }

    .header-left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .header-right {
        align-items: center;
        width: 100%;
    }

    .header-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-btn {
        margin-top: 20px;
        width: 35%;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .header-title {
        flex-direction: column;
    }

    .header-title i {
        margin: 10px 0 0 0;
    }

    .header-btn {
        width: 70%;
    }
}


/***********************************/
/*            Criteria             */
/***********************************/

.criteria {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
    border-bottom: solid 1px #888;
}

.criteria h2 {
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.criteria-main {
    display: flex;
    flex-wrap: wrap;
}

.criteria-item {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 35px;
}

.criteria-item-left {
    background-color: #b8b3f9;
    border-radius: 100%;
    text-align: center;
    padding: 15px 14px;
    margin-right: 15px;
}

.criteria-item-left i {
    color: #2963a6;
    font-size: calc(22px + (22 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.criteria-item-right h2 {
    color: #888;
    font-size: calc(12px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 500;
    margin: 0 0 5px 0;
}

.criteria-item-right h3 {
    font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 500;
    margin: 0;
}

/* Mobile and Tablet */
@media screen and (max-width: 992px)
{
    .criteria-main {
        margin-top: 20px;
    }

    .criteria-item {
        align-items: center;
        width: 25%;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .criteria-item {
        width: 50%;
    }
}


/***********************************/
/*           Description           */
/***********************************/

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
    border-bottom: solid 1px #888;
    text-align: justify;
}

.description h2 {
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 20px;
}

.description p {
    margin: 0 0 25px 0;
    font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (1600 - 320)));
}


/***********************************/
/*             Seller              */
/***********************************/

.seller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px auto 0 auto;
    width: 100%;
}

.seller-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.seller-header h2 {
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.seller-header-container
{
    display: flex;
    justify-content: center;
}

.seller-header-btn {
    display: flex;
    align-items: center;
}

.seller-header-btn {
    font-weight: 600;
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.seller-header-btn:hover{
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.seller-text-gradient {
    background: linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seller-text-gradient:hover {
    background: linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.seller-header-btn i {
    color: #3bbaa1;
    margin-right: 10px;
}

.seller-name {
    display: flex;
    align-items: center; 
}

.seller-name img {
    width: 7%;
    border-radius: 100%;
    margin-right: 15px;
}

.seller-name h3 {
    font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 500;
    margin-right: 15px;
}

.seller-name i 
{
    color: #f2a415;
    margin-right: 5px;
}

.seller-name p {
    color: #f2a415;
    font-size: calc(12px + (12 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.seller-line {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.seller-line h3 {
    font-size: calc(13px + (13 - 10) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 400;
}

.seller-text-icon {
    display: flex;
    align-items: center;
}

.seller-text-icon p {
    font-size: calc(13px + (13 - 10) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 400;
    margin-right: 10px;
}

.seller-text-icon i {
    color: #43cea2;
}

/* Mobile, Tablet and Laptop */
@media screen and (max-width: 1200px)
{
    .seller-header-btn {
        font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
        height: 40px;
        width: 220px;
    }
}

/* Mobile and Tablet */
@media screen and (max-width: 992px)
{
    .seller {
        width: 85%;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .seller {
        width: 65%;
    }

    .seller-card {
        margin-top: 15px;
        border: solid 2px #43cea2;
        border-radius: 35px;
        padding: 35px 5px 20px 5px;
    }

    .seller-header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .seller-header h2 {
        font-size: calc(22px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
    }

    .seller-header-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .seller-header-btn {
        font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
        height: 40px;
        width: 220px;
    }

    .seller-name {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 10px auto;
    }

    .seller-name img {
        width: 35%;
        margin: auto;
    }

    .seller-name h3 {
        margin: 15px auto 0 auto;
    }

    .seller-name i {
        margin: 10px auto 0 auto;
    }

    .seller-name p {
        margin: 5px auto;
    }

    .seller-line {
        flex-direction: column;
        justify-content: center;
        height: 40px;
        text-align: center;
    }

    .seller-text-icon {
        display: none;
    }
}


/***********************************/
/*            Landscape            */
/***********************************/

.landscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.landscape img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    filter: brightness(1);
    transition: all 0.2s ease-in-out;
}

.landscape img:hover {
    filter: brightness(1.1);
}

.landscape-share {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 25px;
}

.landscape-link {
    margin-left: 25px;
    border-radius: 15px;
    border: double 3px transparent;
    background-image: linear-gradient(white, white), linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.landscape-link:hover {
    border: double 3px transparent;
    background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.landscape-link i {
    padding: 10px;
    font-size: calc(32px + (32 - 30) * ((100vw - 320px) / (1600 - 320))); 
    margin: auto;
    background: linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landscape-link i:hover {
    background: linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landscape-map {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 10px;
}

.landscape-map:hover {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.landscape-map img {
    position: relative;
    z-index: -2;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.landscape-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.landscape-row img {
    width: 32%;
}

/* Mobile, Tablet and Laptop */
@media screen and (max-width: 1200px)
{
    .landscape {
        margin-top: 50px;
        width: 100%;
    }

    .landscape-share {
        justify-content: space-between;
    }

    .landscape-link {
        margin: 0;
    }
    
    .landscape-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .landscape-map {
        width: 44%;
    }

    .landscape-wallpaper {
        width: 54%;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .landscape-content {
        flex-direction: column;
        justify-content: center;
    }

    .landscape-map {
        width: 100%;
    }

    .landscape-wallpaper {
        width: 100%;
    }
}
