/***********************************/
/*            General              */
/***********************************/

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}


/***********************************/
/*             Budget              */
/***********************************/

.budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto 0 auto;
    width: 85%;
}

.budget-header {
    margin-bottom: 15px;
    width: 50%;
    background: linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.budget-header h1 {
    text-align: center;
    font-size: calc(25px + (25 - 20) * ((100vw - 320px) / (1600 - 320)));
    margin: 0;
}

.budget-header p {
    text-align: center;
    font-size: calc(16px + (14 - 14) * ((100vw - 320px) / (1600 - 320)));
    margin: 25px 0 0 0;
}

.budget-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.budget-btn {
    background-image: linear-gradient(130deg, rgba(81,206,169,1) 0%, rgba(25,93,157,1) 100%);
    border-radius: 35px;
    font-size: calc(18px + (18 - 16) * ((100vw - 320px) / (1600 - 320)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 40px;
    margin-top: 50px;
    font-weight: 600;
}

.budget-btn:hover {
    background-image: linear-gradient(130deg, rgba(66,168,138,1) 0%, rgba(15,56,94,1) 100%);
}

/* Mobile, Tablet and Laptop */
@media screen and (max-width: 1200px)
{
    .budget-header {
        width: 75%;
    }

    .budget-btn {
        width: 35%;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .budget-header {
        width: 90%;
    }

    .budget-btn {
        width: 50%;
    }
}


/***********************************/
/*         Range Slider Bar        */
/***********************************/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
  
.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.range_slider {
    width: 100%;
}
  
.range_value {
    width: 100%;   
    text-align: center;
}
  
.form-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 20px;
}
  
.form-group label {
    text-transform: uppercase;
    font-size: calc(14px + (14 - 12) * ((100vw - 320px) / (1600 - 320)));;
    color: #222;
    margin-bottom: 5px;
}
  
.form-group span {
    font-size: calc(50px + (50 - 45) * ((100vw - 320px) / (1600 - 320)));;
    font-weight: 700;
    color: #3c3b3b;
}
  
.range_slider label {
    margin-bottom: 10px;
}
  
.range_slider [type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 13px;
    border-radius: 6px;
    background: #f1f1f1;
    outline: none;
    padding: 0;
    margin: 0;
}
  
.range_slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(25,93,157,1);
    border: rgba(25,93,157,1) 5px solid;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
  
.range_slider [type="range"]::-webkit-slider-thumb:hover {
    background: rgba(15,56,94,1);
}
  
.range_slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: rgba(25,93,157,1);
    border: rgba(25,93,157,1) 5px solid; cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
  
.range_slider [type="range"]::-moz-range-thumb:hover {
    background: rgba(15,56,94,1);
}

.range_slider input::-moz-focus-inner, .range_slider input::-moz-focus-outer {
    border: 0;
}

/* Mobile and Tablet */
@media screen and (max-width: 992px)
{
    .container {
        width: 75%;
    }

    .form-group span {
        font-size: calc(40px + (40 - 35) * ((100vw - 320px) / (1600 - 320)));
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    .container {
        width: 90%;
    }

    .form-group span {
        font-size: calc(35px + (35 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
}
